{% extends "front_page/layout.html" %}
	
{% block content %}	
	<div class="short-explain">
		<p>
			This Website was built to train and show some features I'm able to develop.</br>
			I'll be adding new ones from time to time. I hope you enjoy it. 
		</p>
	</div>
	
	<div class="main-features">
		<h3>Why are you here?</h3>
		
		<p><a role="button" href="{% url 'web_projects:z' %}">My Web-App Projects</a></p>
		<p><a role="button" href="{% url 'todo_list:todo_list' %}">ToDo List</a></p>
	</div>
{% endblock %}