{% load static %}
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="{% static 'front_page/css/styles.css' %}">
	
	<title>Cristian Estevez's Portfolio</title>
	
	{% block head %}
	
	{% endblock %}
	
</head>
<body class="container">
	{% include './navbar.html' %}
	
	
	<div class="main-block">		

	{% block content %}

	{% endblock %}

	
	
	</div>
	{% include './footer.html' %}
</body>
</html>