{% extends 'front_page/layout.html' %}
{% load static %}	

{% block head %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

	<div class="web-projects">
		<div class="web-projects-carr-title">		
			<p>
				Layca Indumentaria
			</p>
		</div>
		
		<div class="web-projects-carr-container">
			
			<a href="{% static 'web_projects/img/laycaverdeblanco.png' %}"><img alt="layca page image screenshot" src="{% static 'web_projects/img/laycaverdeblanco.png' %}"></a>
		</div>
		
		<div class="web-projects-carr-footer">
			<p>You can visit the actual page in production clicking <a style="color:blue;" target="blank" href="https://layca.pythonanywhere.com/">"Here"</a>.</p>
			<div class="brief">
				<p>
					explain
				</p>
			</div>
		</div>
	</div>

{% endblock %}